.main-catalog{
    margin: 1.31rem 1.25rem;
}

.h1_catalog {
  color: var(--black);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.75rem;
  letter-spacing: -0.05625rem;

  display: flex;
  height: 2.3125rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;

  border-bottom: 0.1rem solid var(--purple);
}
