/*MOBILE VERSION*/
.contact_main {
  display: flex;
  flex-direction: column;
  margin: 4.06rem 1.25rem;
}

.contact_header {
  display: flex;
  flex-direction: column;
  gap: 3.44rem;
}

.contact_title {
  gap: 0rem;
}

.contact_h1 {
  text-align: center;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.7rem;
  letter-spacing: -0.15rem;
}

.contact_h1_word {
  color: var(--yellow);
  text-align: center;
  text-shadow: 4px 4px 0 var(--purple);
  font-size: 3rem;
}

.contact_p {
  color: var(--grey-text-paragraph);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
}

.contact_img_container {
  display: flex;
  width: 21.375rem;
  height: 21.375rem;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 3rem;
  border: 14px solid #fff;
  box-shadow: 8px 8px 0 0 #5517bf;
}

.contact_img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2.3rem;
}

.contact_horary {
  color: var(--white-cream);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
  text-align: center;

  height: 4.875rem;
  padding: 1.5rem;

  border-radius: 2rem;
  background: var(--purple);
  box-shadow: 4px 4px 0 0 var(--grey-text-paragraph);
}

.contact_button {
  display: flex;
  padding: 1.5rem 4.34375rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  border-radius: 624.9375rem;
  border: 4px solid var(--black);
  background: #fbe351;
  box-shadow: 8px 8px 0 0 var(--purple);

  color: var(--yellow-dark-text);
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font);
  font-weight: 800;
  line-height: 2rem;
  letter-spacing: -0.075rem;
}
