.card__image {
  width: 60%;       /* Ancho relativo a su contenedor */
  max-width: 500px;  /* Tamaño máximo deseado */
  height: auto;      /* Mantiene la proporción automáticamente */
  /* justify-content:center; */
  border: 2px solid #6A37D4;
  border-radius: 15px; 
  margin: 5%;
}

.card {
  display: flex;       /* Activa el diseño flexible */
  align-items: center; /* Centra el texto verticalmente respecto a la imagen */
  gap: 10px;           /* Espacio de separación entre imagen y texto */
  flex-wrap: wrap;
}

.card__content{
  flex: 1;             /* Hace que el texto ocupe el resto del espacio */
  margin-left:5%;
}

.card__name {
    font-weight: bold;
    color:black;
}

.card__description
{
  border: 2px solid gray;
  border-radius: 15px; 
  padding: 5%;
  margin-left:0%;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width:80%;
}
.card__price {
    font-size: 1rem;
    color: #6A37D4;
    font-style: italic;
    font-weight: bold;
} 

.card__quantity{ 
  /* align-items: center; */
  text-align: center;
  border: 2px solid gray;
  border-radius: 15px; 
  width:15%;
  padding-left: 5;
  margin-bottom: 5%;
  min-width: 200px;
  font-size: 0.7rem;
  color:red;
  background-color:lightgrey;
  font-style: italic;
  font-weight: bold;
}

@media (man-width: 600px) { 
  .card 
  { flex-direction: column;
   } 
   .card__content
   {
    min-width: 350px;
     margin-left:5%;
   }
  }

