@import url(../CSS/reset.css);
@import url(../CSS/catalog.css);

/*AQUÍ VAN LAS VARIABLES*/
:root {
  --purple: #6a37d4;
  --yellow: #facc15;
  --yellow-dark-text: #5d5200;
  --black: #18181b;
  --white: #ffffff;
  --grey: #eae7e7;
  --red: #be2d06;
  --grey-text-paragraph: #5c5b5b;
  --white-cream: #f9f6f5;
  --font: "Plus Jakarta Sans", sans-serif;
}

/*ESTILO GENERAL DE TODA LA PAGINA, FONDO Y FUENTE*/
body {
  font-family: var(--font);
  background: var(--white-cream);
}

/*ESTILO HEADER Y MENU HAMBURGUESA*/
/* h1 {
  font-size: 2rem;
  color: var(--purple);
  margin-bottom: 1rem;
  font-style: italic;
} */

.navbar {
  background-color: rgba(250, 204, 21, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  position: relative;
  padding: 20px 40px;
  border-bottom: 2px solid var(--purple);
}
.menu_hamburguesa {
  display: none;
}
.menu_hamburguesa:checked ~ .ul_links {
  height: calc(100vh - 70px);
}
.list_icon {
  color: var(--purple);
  cursor: pointer;
}
.ul_links {
  width: 100%;
  background-color: var(--purple);
  position: absolute;
  top: 80px;
  left: 0;
  height: 0;
  /*height: calc(100vh - 70px); */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.link {
  font-size: 3.5rem;
  color: rgba(250, 204, 21, 0.7);
  font-weight: bold;
}

/*AQUÍ COMIENZAN LOS ESTILOS DEL FOOTER*/
.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 64px 48px;
  width: auto;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  border-radius: 48px 48px 0 0;
  background: rgba(250, 204, 21, 0.7);
  box-shadow: 0 -8px 30px 0 rgba(106, 55, 212, 0.1);
}


.copy-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rrss-footer-container ul {
  display: flex;
  gap: 2rem;
}

.social-icon {
  min-width: 56px;
  min-height: 56px;
}

.contact-button {
  outline: none;
  display: flex;
  height: 3.5rem;
  padding: 2rem 3rem;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;

  border-radius: 9999px;
  background: #6a37d4;
  box-shadow: 6px 6px 0 0 #2f2f2e;

  color: var(--white-cream);
  text-align: center;
  font-family: var(--font);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
}

.contact-button:hover {
  cursor: pointer;
}

.naming-footer {
  color: var(--black);
  font-family: var(--font);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.copyright-footer {
  color: var(--black);
  font-family: var(--font);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.0875rem;
}

.link-footer li {
  color: var(--yellow-dark-text);
  font-family: var(--font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.0875rem;
}

/*ANIMACIONES FOOTER*/
.link-footer li:hover {
  text-decoration: underline var(--purple);
  text-underline-offset: 0.4rem;
  text-decoration-thickness: 0.5rem;
}

.rrss-footer-container li:hover {
  box-shadow: 5px -12px 30px 5px rgba(106, 55, 212, 0.8);
  border-radius: 2rem;
  transition: box-shadow 0.3s ease;
}

.contact-button:hover {
  background: var(--white-cream);
  color: var(--purple);
  transition: background 0.8s ease;
}


/*MEDIA QUERIES*/
@media (max-width: 768px) {
  .footer {
    justify-content: center;
    text-align: center;
    padding: 40px 24px;
  }

  .naming-footer {
    margin-bottom: 3rem;
  }
}