@import url(/DuckStore-team2/CSS/reset.css);

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background: #F9F6F5;
}
h1 {
    font-size: 2rem;
    color: #6A37D4;
    margin-bottom: 1rem;
    font-style: italic;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style: none;
}
.navbar{
    background-color: rgba(250, 204, 21, 0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    position: relative;
    padding: 16px 120px;
    border-bottom: 2px solid #6A37D4;
}
.menu_hamburguesa{
    display: none;
}
.menu_hamburguesa:checked ~ .ul_links{
    height: calc(100vh - 70px);
}
.list_icon{
    color:#6A37D4;
    cursor: pointer;
}
.ul_links{
    width: 100%;
    background-color: #6A37D4;
    position: absolute;
    top: 80px;
    left: 0;
    height:0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

}
.link {
    font-size: 3.5rem;
    color: rgba(250, 204, 21, 0.7);
    font-weight: bold;
}

.container1{
    display: flex;
    height: auto;
    max-width: auto;
    border-radius: 48px;
    box-shadow: 8px 8px 0 0 #6A37D4;
    margin:40px;
    display: flex;
    margin: 20px;
    padding: 20px;
}
.edicion_lim{
    background-color: #6A37D4;
    font-size: 10px;
    color: #F9F6F5;
    font-weight: bold;
    display: inline-block;
    padding: 4px 20px;
    border-radius: 40px;
    margin: 5px;
    letter-spacing: 2.4px;
}

.quack{
    color: #5D5200;
    font-size: 48px;
    font-style: italic;
    font-weight: 800;
    line-height: 43.2px; /* 90% */
    letter-spacing: -2.4px; 
}
.text1{
    font-size: 14px;
    color: #5C5B5B;
    margin-bottom: 1rem;
    text-align: left;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    align-self: stretch;
}
.new_icon{
    width: auto;
    height: auto;
    margin-bottom: 1rem;
}
.button_catalog {
    display: flex;
    padding: 24px 24px 20px 24px;
    align-items: flex-start;
    font-size: 20px;
    color: white;
    gap: 8px;
    border-radius: 9999px;
    background: #6A37D4;
    box-shadow: 4px 4px 0 0 #2F2F2E;
    margin-bottom: 20px;
    margin-left: 30px;
}

.rocket_icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    
}
.duck_main{
    max-width: 60%;
    height: auto;
}